$primary: #004188;
$yellow: #FBB900;
$cyan: #23B9CD;
$green: #AECA05;

$font-family-sans-serif: 'Merriweather Sans', sans-serif;
$h1-font-size: 1.75rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.25rem;
$h4-font-size: 1rem;
$headings-font-weight: 700;
$font-weight-base: 300;
$enable-responsive-font-sizes: true;

$card-border-width: 2px;
$card-border-radius: 0;
$card-spacer-x: 1rem;