h1, h2, h3, h4 {
    color: $primary;
}

.approval-logo {
    width: 170px;
    height: 100px;
    text-align: center;

    @include media-breakpoint-down(lg) {
        width: 100px;
        height: 80px
    }

    @include media-breakpoint-down(xs) {
        width: 70px;
        height: 50px;
    }

    img {
        display: block;
        padding: auto 0;
        margin: auto;
        max-width: 130px;
        max-height: 100px;

        @include media-breakpoint-down(lg) {
            max-height: 80px;
            max-width: 100px;
        }

        @include media-breakpoint-down(sm) {
            max-width: 70px;
            max-height: 50px;
        }
    }

}

.contact-box {
    clip-path: polygon(24px 0, 100% 0, 100% 100%, 0 100%, 0 24px);
}

.contact-details {
    @include media-breakpoint-down(md) {
        font-size: $small-font-size;
    }

    svg {
        max-height: 20px;
        max-width: 20px;
        margin-right: 5px;
    }
}

.bg-primary a {
    color: #fff;

    &:hover {
        text-decoration: none;
    }
}