// @font-face {
//     font-family: 'Merriweather Sans';
//     font-style: normal;
//     font-weight: 300;
//     font-display: swap;
//     src: url(https://fonts.gstatic.com/s/merriweathersans/v13/2-c99IRs1JiJN1FRAMjTN5zd9vgsFHX4QjX78w.woff2) format('woff2');
// }
  
// @font-face {
//     font-family: 'Merriweather Sans';
//     font-style: normal;
//     font-weight: 400;
//     font-display: swap;
//     src: url(https://fonts.gstatic.com/s/merriweathersans/v13/2-c99IRs1JiJN1FRAMjTN5zd9vgsFHX4QjX78w.woff2) format('woff2');
// }
  
// @font-face {
//     font-family: 'Merriweather Sans';
//     font-style: normal;
//     font-weight: 700;
//     font-display: swap;
//     src: url(https://fonts.gstatic.com/s/merriweathersans/v13/2-c99IRs1JiJN1FRAMjTN5zd9vgsFHX4QjX78w.woff2) format('woff2');
// }


@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/type";
// @import "../../node_modules/bootstrap/scss/mixins/transition";
@import "../../node_modules/bootstrap/scss/utilities/background";
@import "../../node_modules/bootstrap/scss/utilities/borders";
@import "../../node_modules/bootstrap/scss/utilities/spacing";
@import "../../node_modules/bootstrap/scss/utilities/text";
@import "richter-helm-bootstrap";
@import "components/cards";
@import "components/acc-tiles";
@import "components/cookiebot";
@import "components/flags";
// @import "components/fonts";
@import "components/footer";
@import "components/header";
@import "components/video";


@include media-breakpoint-up(xs) { 
}

@include media-breakpoint-up(sm) { 
}

@include media-breakpoint-up(md) { 
}

@include media-breakpoint-up(lg) { 
}

@include media-breakpoint-up(xl) { 
}