.tile {
    &:nth-of-type(1) .tile-title {
        background-color: rgba(0, 67, 138, 0.8);
    }

    &:nth-of-type(2) .tile-title {
        background-color: rgba(250, 183, 0, 0.8);
    }

    &:nth-of-type(3) .tile-title {
        background-color: rgba(35, 185, 205, 0.8);
    }

    &:nth-of-type(4) .tile-title {
        background-color: rgba(174, 204, 5, 0.8);
    }
    
    .tile-img {
    position: relative;
    }

    .tile-title {
        position: absolute;
        bottom: 0;
        padding: 1rem 1rem 0.5rem 2.5rem;
        width: 100%;
        clip-path: polygon(24px 0, 100% 0, 100% 100%, 0 100%, 0 24px);
    }

    .tile-content {
        padding: 0 1.5rem;
        margin-bottom: 3rem;
    }
}

.accordion {
    border-bottom: 1px solid black;

    .acc-card {
        border: none;
        background: none;

        &.active {
            .arrow-down {
                display: none;
            }

            .arrow-up {
                display: block;
            }

            .collapse {
                display: block;
            }
        }
    }

    .acc-card-header {
        border-top: 1px solid black;
        border-bottom: none;
        border-right: none;
        border-left: none;
        background: none;
        padding: 1rem 0rem 0.5rem 0rem;

        &:hover {
            cursor: pointer;
        }
    }

    h4 {
        margin-bottom: 0;
    }

    .arrow-down,
    .arrow-up {
        margin-top: -5px;
        margin-bottom: 5px;
        // display: none;
        // &.show {
        //     display: block;
        // }
    }

    .arrow-down {
        display: block;
    }

    .arrow-up {
        display: none;
    }

    svg {
        width: 15px;
        height: 20px;
        color: $primary;
    }

    .acc-card-body {
        padding-top: 0;
        padding-bottom: 1rem;
    }

    .collapse {
        display: none;
    }
}