.card-arrow svg {
    width: 15px;
    height: 20px;
}

a.card-link {
    svg {
        transition: 0.3s ease-in-out;
    }

    &:hover {
        text-decoration: none;
   
        svg {
            transform: scale(1.1);
        }
    }
}

.card-icon {
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    
    svg {
        height: 40px;
        width: auto;
    }
}

.border-cut {
    width: 0;
    height: 0;
    border-top: 11px solid #000;
    border-left: 11px solid #000;
    border-bottom: 11px solid transparent;
    border-right: 11px solid transparent;
}

.card {
    clip-path: polygon(23px 0, 100% 0, 100% 100%, 0 100%, 0 23px);

    h4 {
        color: $black;
    }

    .card-body {
        padding: 0 1rem 1rem 1rem;
    }

    @include media-breakpoint-up(sm) {
            position: relative;

        .card-arrow {
            bottom: 1.5rem;
            right: 1.5rem;
            position: absolute;
        
        }
    }

    @include media-breakpoint-only(sm) {
        min-height: 290px;
    }

    @include media-breakpoint-only(md) {
        min-height: 250px;
    }

    @include media-breakpoint-only(lg) {
        min-height: 290px;
    }

    @include media-breakpoint-only(xl) {
        min-height: 250px;
    }
}

.card-div {
    &:nth-of-type(1) .card {
        border-color: $primary;

        .border-cut {
            border-top-color: $primary;
            border-left-color: $primary;
        }

        svg {
            color: $primary;
        }
    }
    &:nth-of-type(2) .card {
        border-color: $yellow;

        .border-cut {
            border-top-color: $yellow;
            border-left-color: $yellow;
        }

        svg {
            color: $yellow;
        }
    }
    &:nth-of-type(3) .card {
        border-color: $cyan;

        .border-cut {
            border-top-color: $cyan;
            border-left-color: $cyan;
        }

        svg {
            color: $cyan;
        }
    }
    &:nth-of-type(4) .card {
        border-color: $green;

        .border-cut {
            border-top-color: $green;
            border-left-color: $green;
        }

        svg {
            color: $green;
        }
    }
}