#CybotCookiebotDialog {
  border: none !important;
  border-radius: 0 !important;
  padding: 10px !important;
}

#CybotCookiebotDialogBodyContent {
  padding: 15px 20px !important;
}

#CybotCookiebotDialogBodyContentTitle {
  text-align: center !important;
  font-family: 'Merriweather Sans',sans-serif !important;
  color: #004188 !important;
}

#CybotCookiebotDialogBodyContentText {
  font-size: 0.8em !important;
  font-family: 'Merriweather Sans',sans-serif !important;
  line-height: 1.5 !important;
}

#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelectionWrapper {
  float: unset !important;
  text-align: center !important;
}

a.CybotCookiebotDialogBodyButton {
  max-width: 140px !important;
  padding: 10px 30px !important;
}

#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection {
  border: none !important;
  color: #fff !important;
  font-family: 'Merriweather Sans',sans-serif !important;
  font-weight: 700 !important;
  background: #c7d2d9 url('../../fileadmin/template/img/icon-corner-white-32.png') no-repeat left top / 18px auto !important;
}

#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll {
  background: #004188 url('../../fileadmin/template/img/icon-corner-white-32.png') no-repeat left top / 18px auto !important;
  border: none !important;
  font-weight: 700 !important;
  font-family: 'Merriweather Sans',sans-serif !important;
}

#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll:hover {
  background-color: #00254d !important;
}

#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection:hover {
  background-color: #a4b6c1 !important;
}

#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelectionWrapper {
  margin-bottom: 20px !important;
}

.CybotCookiebotDialogBodyLevelButtonWrapper,
#CybotCookiebotDialogBodyLevelDetailsButton,
#CybotCookiebotDialogDetailBodyContentTabs > a,
#CybotCookiebotDialogDetailBodyContent,
.CybotCookiebotDialogDetailBodyContentCookieTypeTable > thead > tr > th,
.CybotCookiebotDialogDetailBodyContentCookieTypeTable > tbody > tr > td,
#CybotCookiebotDialogDetailBodyContentCookieContainerTypes > a,
#CybotCookiebotDialogDetailFooter {
  font-family: 'Merriweather Sans',sans-serif !important;
}