.flags {
    position: fixed;
    top: 40vh;
    z-index: 99;
    right: -450px;
    text-align: right;

    @include media-breakpoint-down(md) {
        display: none;
    }

    .flag-phone,
    .flag-mail,
    .flag-linkedin {
        text-align: left;
        padding: 1rem 1rem;
        background-color: $primary;
        color: #fff;
        width: 500px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 0;
        margin-left: auto;
        transition: .2s ease-in-out;
        clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%, 0 15px);

        &:hover {
            margin-right: 10px;
            cursor: pointer;
        }
    }

    .flag-phone.active {
        margin-right: 450px;
    }

    a {
        color: #fff;

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }

    .flag-mail.active {
        margin-right: 30px;
        clip-path: none;

    }

    svg {
        max-height: 20px;
        max-width: 20px;
        margin-right: 20px;
    }
}

.contact-form-desktop {
    position: fixed;
    background-color: #f6f6f6;
    z-index: 5;
    
    @include media-breakpoint-up(lg) {
        width: 900px;
        height: 600px;
        right: 80px;
        top: calc(50vh - 300px);
        padding-top: 20px;
        padding-left: 20px;
        clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%, 0 15px);
    }

    svg {
        color: $primary;
    }

    a:hover {
        text-decoration: none;
    }

    #contact-form-iframe {
        width: 100%;
        height: 100%;

        iframe {
            width: 100%;
            height: 100%;
            padding-left: 0rem;
            padding-right: 1rem;
        }
    }


    .contact-exit {
        position: absolute;
        top: 0px;
        right: 0px;

        svg {
            height: 25px;
            width: 25px;
            color: $primary;
        }

    }
}

.mobile-flag {
    position: fixed;
    width: 100vw;
    height: 120px;
    color: #fff;
    font-size: .8rem;
    bottom: 0;
    margin-left: calc(100vw - 60px);
    margin-bottom: -60px;
    clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%, 0 15px);
    z-index: 900;
    padding: 20px 25px;
    transition: none;

    @include media-breakpoint-up(lg) {
        display: none;
    }

    svg {
        height: 0;
        width: 0;
    }

    .mobile-flag-mail svg {
        height: 20px;
        width: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        transition: .2s ease-in-out;
    }

    .mobile-flag-close {
        display: none;
    }
}

.mobile-flag.active {
    margin-left: 0;
    margin-bottom: 0;
    left: 0;
    padding-top: 10px;
    transition: .2s ease-in-out;

    svg {
        height: 15px;
        width: 15px;
        margin-right: 10px;
        margin-bottom: 0;
    }

    .mobile-flag-close {
        display: block;
        margin: 0px -10px;
        padding: 10px;
    }
}