.footer-triangle {
    height: 1.3rem;

    .footer-triangle-inner {
        width: 0px;
        height: 0px;
        border-top: 0.75rem solid transparent;
        border-right: 0.75rem solid #C7D2D9;
        border-bottom: 0.75rem solid #C7D2D9;
        border-left: 0.75rem solid transparent;
        position: relative;
        float: right;
    }
}

.footer {
    background-color: #C7D2D9;
    padding: 2rem 0;
    font-size: 0.9rem;

    a {
        color: #fff;

        svg {
            width: 12px;
            height: 13px;
            margin-top: -2px;
            margin-left: 3px;
            transition: .2s ease-in-out;    
        }

        &:hover {
            color: #fff !important;
            text-decoration: none;

            svg {
                transform: scale(1.2);
            }
        }
    }
}