.header-img {
    position: relative;
    text-align: center;
    color: #fff;

    .header-logo {
        position: absolute;
        width: 100px;
        height: auto;
        right: 5vw;
        top: 5vw;

        @include media-breakpoint-up(sm) {
            width: 150px;
        }

        @include media-breakpoint-up(md) {
            right: calc(10vw - 2rem);
            width: 180px;
        }

        @include media-breakpoint-up(lg) {
            width: 200px;
            top: 50px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
    
    .header-img-title {
        position: absolute;
        top: 50%;
        right: 0;
        padding-right: 10vw;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    .header-img-title-back,
    .header-img-title-front {
        padding: 1rem 2rem;
        width: auto;
    }

    .header-img-title-back {
        background-color: $primary;
        margin: auto -2rem -0.75rem 2rem;
    }

    .header-img-title-front {
        font-size: 1.25rem;
        font-weight: 700;
        background-color: #5371A5;
        // background-color: rgba(83, 113, 165, 0.8);
        // margin: -0.75rem 2rem auto -2rem;
    }

    .header-img-title-triangle {
        width: 0;
        height: 0;
        border-left: 0.75rem solid #5371A5;
        border-top: 0.75rem solid #5371A5;
        border-bottom: 0.75rem solid transparent;
        border-right: 0.75rem solid transparent;
    }
}